<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landscape.name %>
</p>

<%= image_tag @landscape.picture(:medium) %>

<br />

<%= link_to 'Edit', edit_landscape_path(@landscape) %> |
<%= link_to 'Back', landscapes_path %>
